<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style_main.css">
    <title>AromasLight</title>
</head>
<body>

    <main class="main-content">
            <section id="calendario"></section>

            <!-- Vincularlo al calendario -->
            <section class="menu-display">
                <div class="day-selector" id="dayOfTheWeek">--</div>
                <div class="cards" id="cardContainer"></div>
            </section>
        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="/scripts/Tarjetas.js"></script>
    <script src="/scripts/Calendario.js"></script>
    <script src="/scripts/cargar_menus.js"></script>
</body>
</html>